.navbar {
  display: flex;
  justify-content: space-around;
  width: 85%;
  background-color: #242424;
  border: 1px solid #ffffff29;
  border-radius: 10px;
  margin: 0 auto;
  /* -webkit-app-region: drag; */
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
    transition: 300ms ease;
    border-radius: 10px;
    border: 1px solid #ffffff29;

    &:hover {
      background: var(--focus);
      border-color: var(--focus);
      transform: translateY(-.2rem);
    }
  }
}

.navbar-sub-items {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #171717;
  padding: 10px;
  border: 1px solid #ffffff29;
  border-radius: 10px;
  font-size: 16px;

  :hover {
    background-color: #058eff;
    border-color: #050505;
    border-radius: 10px;
    transform: translateY(-.2rem);
  }

}

.navbar-sub-item {
  padding: 5px 10px;
  background: #242424;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.selected-spec {
  background-color: rgba(16, 206, 9, 0.699); /* Or any other styling you want for selected state. */
  pointer-events: none;
}
