.preReqForm {
  text-align: center;
  width: 600px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  input {
    background: #303030;
    border: 1px solid #ffffff29;
    border-radius: 5px;
    color: #fff;
  }
  input:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  button {
    background: #303030;
    border: 1px solid #ffffff29;
    border-radius: 5px;
    color: #fff;
    transition: 300ms;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 18px;

    &:hover {
      background: var(--focus);
      border-color: var(--focus);
      transform: translateY(-.2rem);
    }
  }
}

.preReqWrap {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background: #303030;
    border: 1px solid #ffffff29;
    border-radius: 5px;
    color: #fff;
    transition: 300ms;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 18px;

  &:hover {
    background: var(--focus);
    border-color: var(--focus);
    transform: translateY(-.2rem);
  }
  }
}

.codeBlocks {
  display: flex;
  flex-direction: column;
  width: 500px;
}
