.talentCanvas {
  width: 95%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 0px;
  row-gap: 0px;
  padding: 0 20px 0 0;
  margin: 0 auto;
}

.talentWrapper {
  height: 94%;
}

.gridCell {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ffffff29;
  border-radius: 5px;
  background: #24242438;
  height: 50px;
}

.canvasWrapper {
  height: 98%;
  display: flex;
}

.verticalRuler {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 90%;
  font-weight: bold;

  div {
    height: 50px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    /* width: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
}

.refreshButton {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}
